MONGO_URI=mongodb://localhost:27017
MONGO_DB=ranking_db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=requests.created
KAFKA_CONSUMER_GROUP=request-ranking-backend
APP_HOST=0.0.0.0
APP_PORT=8000
